<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <% if (!user){ %>
            <p>Bấm vào đây để <a href="/login">Đăng nhập</a></p>
            <a href="/register">Đăng ký tài khoản</a>
            <% } else { %>
            <p>Xin chào, <%= user.fullname %> - <a href="/user/edit/<%= user._id %>">Sửa thông tin</a> </p>
            <p><a href="/logout">Đăng xuất!</a></p>
            <% } %>

        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>