<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <main>
        <div class="jumbotron">
            <h1>
                EDIT USER PAGE
            </h1>
            <% if (typeof message != 'undefined') { %>
                <p><%= message %></p>
            <% } %>
            <form action="/user/update" method="POST">
                <label for="">email:</label>
                <input type="text" name="email" value="<%= user.email %>" readonly="readonly" />
                <br/>
                <label for="">fullname:</label>
                <input type="text" name="fullname" value="<%= user.fullname %>" />
                <br/>
                <label for="">password:</label>
                <input type="password" name="password" />
                <br/>
                <input type="hidden" name="_id" value="<%= user._id %>" />
                <input type="submit" value="Update">
                <br/>
                <a href="/login">Login</a> - <a href="/">Home</a>
            </form>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>