<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>ExpressJS Authentication</h1>  
            <% if (!user){ %>
                <p>Chào mừng! xin vui lòng bấm vào đây để <a href="/login">Đăng nhập</a></p>
                <a href="/register">Đăng ký tài khoản</a>
            <% } else { %>
            	<p>Xin chào, <%= user.fullname %>. <a href="/logout">Đăng xuất!</a></p>            	
            <% } %>           
            
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>