<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <main>
        <div class="jumbotron">
            <form action="login" method="POST">
                <label for="">Email:</label>
                <input type="text" name="email"/>
                <label for="">password:</label>
                <input type="password" name="password"/>
                <input type="submit" value="Login">
                <br/>
                <a href="/register">Register</a> - <a href="/">Home</a>
            </form>
            <% if (typeof message != 'undefined') { %>
                <p><%= message %></p>
            <% } %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>